@import "./helpers.scss";
@import "./variables.scss";

body {
    margin: 0;
    font-family: 'Bebas Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(13, 17, 2);
  }
  
  code {

  }

  a {
    color: rgb(170, 203, 255);
    text-decoration: none;
    font-weight: bold;
    opacity: 0.6;
    @extend .transition-opacity;
  }

  a:hover {
    opacity: 1;
  }
  
  div.container {
    display: flex;
    justify-content: center;
  }