div.grid {

    ul {
        padding: 20px;
        box-sizing: border-box;
        list-style-type: none;
        overflow-x: scroll;
        width: 100%;
        white-space: nowrap;
        margin: 0px;

        .title {
            position: absolute;
            color: white;
            margin-top: 65px;
            font-size: x-large;
            left: 90px;
            -webkit-transform: rotate(90deg);/* Safari and Chrome */
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* ie9 */
    -o-transform: rotate(90deg); /* Opera */
        }
    }

    h2 {
        margin-left: 10px;
        text-align: left;
        color: white;
    }
}


ul.horizontal > li { 
    display: inline-block;
}

@media screen and (max-width: 700px) {

    ul.horizontal > li { 
        display: flex !important;
    }

    div.grid {
    
        text-align: center;

        ul {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

    }

    .title {
        display:none;
    }
}