@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-post > h2 {
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.blog-post > ul {
  list-style-type: circle;
  margin-bottom: 20px;
  margin-left: 40px;
}

div.blurred {
  backdrop-filter: blur(20px);
  fill-opacity: 0.5;
}

div.overlay {
  padding: 50px 50px 20px 50px;
  border-radius: 20px;
  overflow-y: scroll;
  max-height: 100%;
}

@media screen and (min-width: 700px) {
  div.overlay {
     max-width: 600px;
  }
}

.blog-post > p {
  line-height: 175%;
  margin-bottom: 20px;
}

.blog-post > figure {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

.custom-zoom [data-rmiz-modal-overlay="visible"] {
  background-color: black;
}

.not-active {
  user-select: none;
}

.active {
  user-select:auto
}
p.about > a {
  font-weight: bold;
}

p.about > a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgb(81, 83, 146)
}