@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-post > h2 {
  margin-top: 20px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.blog-post > ul {
  list-style-type: circle;
  margin-bottom: 20px;
  margin-left: 40px;
}

div.blurred {
  backdrop-filter: blur(20px);
  background-color: rgba(0,0,0,0.2);
}

div.overlay {
  width: 500px;
  height: auto;
  padding: 50px;
  border-radius: 30px;
}

.blog-post > p {
  line-height: 175%;
  margin-bottom: 20px;
}

.blog-post > figure {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

.custom-zoom [data-rmiz-modal-overlay="visible"] {
  background-color: black;
}