@import "../../../styling/scss/variables.scss";

div.home { 

    flex: 1;
    max-width: $max-page-width;
    z-index: 1;

    > h3 {
        color: white;
        font-size: $x-large-font;
        margin-left: $medium-padding;
        margin-bottom: 0px;
    }

    > p {
        color: white;
        font-size: $medium-font;
        margin-left: $medium-padding;
        margin-top: 0px;
        opacity: 0.7;
    }
}
