li.thumbnail {
  flex: 0 0 40%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  z-index: 5;

  .open-link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
  }

  .thumbnail-container {
    height: 460px;

    cursor: pointer;
    box-sizing: border-box;
    word-wrap: normal;
    position: relative;
    min-width: 250px;

    .thumbnail-content {
      border-radius: 50px;
      position: relative;
      display: flex;
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin: 0 auto;

      .thumbnail-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
      }
      
      .thumbnail-title-container {
          position: absolute;
          top: 25px;
          left: 25px;
          max-width: 300px;
          font-size: 30px;

          h2 {
            margin: 0px;
          }
      }
    }

    .background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 40px;
    }
  }
}

li.thumbnail:nth-child(4n + 1),
li.thumbnail:nth-child(4n + 4) {
  flex: 0 0 60%;
  max-width: 60%;
}

li.thumbnail:nth-child(2n - 3) {
  padding-left: 0px;
}

li.thumbnail:nth-child(2n) {
  padding-right: 0px;
}

@media only screen and (max-width: 1000px) {
  li.thumbnail {
    flex: 1 0 100% !important;
    max-width: 100% !important;
    padding-left: 0;
    padding-right: 0;
  }

  li.thumbnail:nth-child(4n + 1),
  li.thumbnail:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }

  li.thumbnail-content-container.open {
    padding: 0;
  }
}
