@import "globals.scss";

$thumbnail-height: 350px;
$article-expanded-width: 700px;
$thumbnail-width: 350px;

.article-container {
    height: $thumbnail-height;
    box-sizing: border-box;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
}

.article-content {
    border-radius: $medium-border-radius;
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.article-container.open {
    cursor: auto;
    top: $medium-padding;
    left: 0;
    right: 0;
    pointer-events: none;
    height: auto !important;
    margin-left: $medium-padding;
    margin-right: $medium-padding;
}

.article-content.open {
    position: relative;
    overflow-y: auto;
    pointer-events: auto;
    display: block;
}

.article-overlay-container {
    position: absolute;
    height: $thumbnail-height;
    color: white;
    top: 0px;
    left: 0px;
    box-sizing: border-box;

    > h2, h1 {
        margin: 0px;
    }
}

.article-close-button.open {
    @extend .article-overlay-container;
    width: 100%;
    text-align: right;
    padding: $medium-padding;
    font-size: $small-font;

    > h2, h1 {
        //@extend .transition-opacity;
        z-index: 6;
        opacity: 0.5;
    }

    > h2:hover, h1:hover {
        opacity: 1;
    }
    
}

.article-title-container {
    @extend .article-overlay-container;
    padding: $medium-padding;
    box-sizing: border-box;
    width: $thumbnail-width;
    font-size: $medium-font;
    text-align: left;
    font-family: 'Bebas Neue';
    z-index: 6;
}

.article-title-container.open {
    z-index: 6;
    padding: $medium-padding;
    padding-left: $medium-padding + 10px;
}

.article-metadata-container {
    @extend .article-overlay-container;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    pointer-events: none;
    text-align: right;
    width: 100%;
    padding: $medium-padding;
    
    > h2, h1, h3 {
        font-size: $x-small-font;
        margin-left: $x-small-padding;
    }
}

.article-metadata-container.open {
    padding: $large-padding;

    > h2, h1, h3 {
        z-index: 6;
    }
}

.article-image-container {
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    height: $thumbnail-height;
    position: absolute;

    > img {
        opacity: 0.8;
        width: $max-page-width;
        height: auto;
    }
}

.article-image-container.open {
    position: relative;
    z-index: 2;
}

.open {
    z-index: 5;
}

@media screen and (max-width: 500px) {
    .article-content {
        max-width: 100% !important;
    }

    .article-container.open {
        margin-left: 0px;
        margin-right: 0px;
    }

    .article-title-container {
        width: 250px;
    }

    .article-metadata-container, .article-title-container {
        padding: $small-padding !important;
    }

    .article-metadata-container.open, .article-title-container.open {
        padding: $medium-padding !important;
    }
}
