@import "./helpers.scss";
@import "./variables.scss";

pre {
    background-color: $pretty-much-dark;
    border-left: 9px solid black;
    border-radius: 5px;
}
body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $mostly-dark;
  }
  
  a {
    color: rgb(110, 132, 170);
    text-decoration: none;
    font-weight: bold;
    opacity: 0.6;
    // @extend .transition-opacity;
  }

  a:hover {
    opacity: 1;
  }
  
  div.container {
    display: flex;
    justify-content: center;
  }

  .error {
    text-align: center;
    color: red;
    font-weight: bold;
  }

div.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  flex: 1;
  padding-right: $medium-padding;
  font-size: $medium-font;
  color: $mostly-white;

  > * {
    margin-left: 20px;
    color: $mostly-white;
  }
}

div.about {
  padding: $medium-padding;
  color: hsla(0, 0%, 100%, 0.8);
  opacity: 0.7;
  font-size: $small-font;
  margin-top: 0px;

  > p {
    margin-top: 0px;
  }
}

.title {
  color: $mostly-white;
  font-size: $x-large-font;
  
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900;
  font-family: 'Bebas Neue';
}

.subtitle {
  color: $mostly-white;
  font-size: $small-font;
  margin-top: 0px;
  opacity: 0.7;
}

.sub {
  margin-left: $medium-padding;
  margin-right: $medium-padding;
}

hr {
  opacity: 0.5;
  margin-left: $medium-padding;
  margin-right: $medium-padding;
}

div.submodule {
  @extend .sub;
  text-align: right;

  > h3 {
    @extend .title;
    font-size: $medium-font;
    margin-top: $medium-padding;
    opacity: 0.5;
  }

  > p {
    @extend .subtitle;
    font-size: $smaller-font;
  }
}

div.home { 

    flex: 1;
    max-width: $max-page-width;
    z-index: 1;

    > div.header {

      display: flex;
      flex-direction: row;
      margin-top: $large-padding;
      margin-left: $medium-padding;
      margin-right: $medium-padding;

      > p {
        max-width: 75%;
      }
    }
}

@media screen and (max-width: 950px) {
  .home {
      max-width: 100% !important;
  }

  div.home {
    > div.header {
      flex-direction: column;
    }
  }

  div.links {
    justify-content: flex-start;
    text-align: left;

    > * {
      margin-left: 2px;
      margin-right: 15px;
    }
  }
  
}
  