.expanded {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.expanded-fixed {
    @extend .expanded;
    position: fixed;
}

.expanded-absolute {
    @extend .expanded;
    position: absolute;
}

$transition-speed: .2s;

.clickable {
    cursor: pointer;
    position: relative;
    opacity: 0.8;
    transition: opacity $transition-speed ease-out;
}

.clickable:hover {
    opacity: 1;

}

.transition-opacity {
    transition: opacity $transition-speed ease-out;
    -moz-transition: opacity $transition-speed ease-out;
    -webkit-transition: opacity $transition-speed ease-out;
    -o-transition: opacity $transition-speed ease-out;
}