@import "article.scss";





.article-body {
  width: 100%;
  color: white;
  padding: $medium-padding $large-padding;
  box-sizing: border-box;
}

.article-body.tldr {
  background-color: $pretty-much-dark;
  border-bottom: $dark-border;
  border-top: $dark-border;

  > div {
    > h4 {
      margin: 0px;
      color: rgb(44, 178, 255);
    }
  }
}

.article-body.text {
    background-color: $not-quite-dark;
    line-height: 170%;
    text-align: justify;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    border-bottom: $dark-border;

    > h2, h3 {
      text-align: left;
    }

    > img {
      width: 100%;
    }

    > .tiny {
      font-size: $x-small-font;
      font-style: italic;
    }

    > .caption {
      opacity: 0.5;
      font-size: $x-small-font;
      line-height: normal;
    }
}

.sidenote {
  opacity: 0.5;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}

.sidenote:hover {
  opacity: 1;
}

.article-body.metadata {
  display: flex;
  background-color: $pretty-much-dark;
  font-size: $x-small-font;
  color: $faded-white;
  margin-bottom: $medium-padding;
  border-radius: 0px 0px  $medium-border-radius $medium-border-radius;
  pointer-events: none;

  > div {
    display: flex;
    flex: 1;
    width: 100%;
  }

  > div:first-child {
    justify-content: flex-start;
  }

  > div:nth-child(n) {
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  > div:last-child {
    justify-content: flex-end;
    text-align: end;
  }
}

@media screen and (max-width: 500px) {
  .article-body {
    padding: $medium-padding !important;
  }
}
