@import "../../../component/article/article.scss";

.sundance-thumbnail {

    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sundance-thumbnail.opened {
    height: $thumbnail-height;
    border-radius: $medium-border-radius $medium-border-radius 0px 0px;
}